body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main-content {
  flex-grow: 1; }

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0; }

header {
  margin-top: 16px;
  margin-bottom: 48px; }
  header a {
    color: #66d;
    margin-right: 16px;
    text-decoration: none; }
    header a:hover {
      color: #00f;
      text-decoration: underline; }

h1 {
  font-size: 64px;
  margin-bottom: 16px; }

.portrait {
  width: 250px; }

input {
  border: 2px solid #333333;
  padding: 1rem; }

button {
  cursor: pointer;
  border: 2px solid #212111;
  color: #212111;
  background-color: #aaf;
  padding: 1rem; }
  button:hover {
    border: 2px solid #4e4e27;
    color: #4e4e27;
    background-color: #e1e1f7; }
